@charset "UTF-8";
/*--------------------------------------------
                 MAIN STYLES
--------------------------------------------*/    
/* Background-Image & Container (heading padding) */
:root { 
    background: url("../img/photos/crumpledPaperTexture.jpg") repeat top center;
    width: 100%;
    }

.container {
   padding: 35px;
    }
    
/***** Basic Text Styles ******/
@font-face {
    font-family: "HackneyPersonalUseOnly";
    src: url("font/HackneyPersonalUseOnly.eot");
    src: url("font/HackneyPersonalUseOnly.eot?#iefix") format("embedded-opentype"),
         url("font/HackneyPersonalUseOnly.woff2") format("woff2"),
         url("font/HackneyPersonalUseOnly.woff") format("woff"),
         url("font/HackneyPersonalUseOnly.ttf") format("truetype"),
         url("font/HackneyPersonalUseOnly.svg#HackneyPersonalUseOnly") format("svg");
    font-display: fallback;
    font-style: normal;
    font-weight: normal;
    }


/***** Body Font *****/
h1, h2, p {
    font-family: "Montserrat subheading", "Verdana", sans-serif;
    font-size: 1rem;
    line-height: 25px;
    color: #000;
    }

h1, h2{
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
    }

.nav-ul {
    font-family: "HackneyPersonalUseOnly", "Impact", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-decoration: none;
    color:#000;
    }

.nav-ul a:hover {
    background-color: #394a4a;
    color: white;
    border-radius: 5px;
    width: 180px;
    -webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -moz-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -o-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
    }

.nav-logo {
    width: auto;
    height: 60px;
    }

/***** FlexBox Image Grid *****/
.image-grid, .graphic-content  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    }

.gallery-image, 
.project-image,
.graphic-image {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 5px;
    border-radius: 10px;
    filter: grayscale(100%); 
    opacity: 0.8;
    object-fit: cover;
    }

.self-portrait-yuk {
    flex: 1 1 auto;
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    }

.project-image:hover,
.gallery-image:hover,
.graphic-image:hover {
    opacity: 1;
    box-shadow: 0 0 2px 1px rgba(29, 72, 73, 1);
    filter: none;
    transform: scale(1);
    }

/***** End FlexBox Image Grid *****/

/* Lightbox */
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}
    

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#lightbox img {
    max-width: 100%;  
    max-height: 100%;
    padding: 5px;
    background-color: #171717;
    border-radius: 15px;
}
/***** lightbox End *****/


/***** Next & Previous Arrow Buttons *****/
 .left, .right  {
    display: inline-flex;
    width: 45px;
    height: 45px;
    }

.left   {
    margin-right: 0;
    margin-left: 45%;
    margin-top: 10%;
    }
    
.right  {
    margin-left: 0;
    margin-right: auto;
    margin-top: 10%;
    }

/* Contact/Feedback Form */
hr {
    display: block;
    max-width: 250px;
    }
    
.contactForm {
    display: flex;
    flex: 1 1 auto; 
    }

.form {
    min-width: 200px;
    border-radius:  10px;
    padding: 10px 20px;
    }

input[type="text"],
input[type="email"],
textarea, select {
   margin: 10%;
   padding: 15px;
   width: 100%;
   height: auto;
   border-radius: 5px;
   border: 1px solid #000;
   text-transform: uppercase;
   }

legend {
    margin-bottom: 0px;
    font-weight: lighter;
    }

fieldset {
    margin-bottom: 30px;
    border: none;
    font-size: .75rem;
    text-transform: uppercase;
    }

.number {
    background-color:#394a4a;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    font-size: 0.8rem;
    margin-right: 4px;
    }

.btn {
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: #394a4a;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    margin-left: 25px;
    border: 1px 1px 2px;
    border-width: 1px 1px 2px;
    text-transform: uppercase;
    } 

/**** Form End ****/

 
/***** social Media Icons *****/
    
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

.icons {
    padding: 5px;
    margin-bottom: 15%;
    }

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    }
/*-----------------------------------------------
              END BASIC STYLES
-----------------------------------------------*/


/*-----------------------------------------------
             MOBILE/ SM TABLET BEGIN
-----------------------------------------------*/
/******* Smallish Screen Media Queries: targets VP sizes 700px and smaller ******/
@media (max-width: 700px)   {
:root { 
    background: url("../img/photos/crumpledPaperTexture.jpg") repeat top center;
    width: 100%;
    }
/***** Mobile Navigation *****/
.hamburger  {
    display: block;
    width: 60px;
    height: 60px;
   }

.nava, .navb .navc, 
.navd, .nav-ul  {
    display: block;
    padding: 15px;
    font-size: 40px; 
    text-align: center;
    }

.container {
    display: flex;
    justify-content: space-between;
    }

/***** Contact Section *****/
.self-portrait-yuk {
    max-width: 300px;
    margin-bottom: 10%;
    margin-top: 20%;
    } 

h2 {
    text-align: center;
    margin-bottom: 5px;
    }

p {
   padding-left: 5%;
   padding-right: 5%;
   max-width: 300px;
}    

.h2con {
    padding-bottom: 10%;
}


.contactForm {
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.form  {
    max-width: 280px;
    min-width: 250px;
}

hr {
    margin-top: 20%;
    margin-bottom: 20%;
    }
/***** Contact End *****/


/***** Images & Lightbox for Mobile *****/
h1 {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10%;
    }

.image-grid, 
.graphic-content {
    flex-direction: column;
    align-items: center;
}


.gallery-image, 
.graphic-image,
.project-image {
    max-width: 100%;
    height: 250px;
    width: 97%;
    }

#lightbox img {
    max-width: 100;  
    max-height: 100%;
    transform: scale(.90);
    width: 100%;
 
   }
}	
/*-------------------------------------------------------------
                    MOBILE END 
-------------------------------------------------------------*/

/*-------------------------------------------------------------
                   TABLET BEGIN
-------------------------------------------------------------*/

/****** Small-ish Screen Media Queries: Targets VP sizes 541px & wider. ******/
@media (min-width: 540px) {
/***** Mobile Navigation *****/
.hamburger  {
    display: block;
    width: 60px;
    height: 60px;
   }

.nava, .navb .navc, 
.navd, .nav-ul  {
    display: block;
    padding: 15px;
    font-size: 40px; 
    text-align: center;
    }

.container {
    display: flex;
    justify-content: space-between;
    }

.image-grid, .graphic-content  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    
}

.gallery-image, 
.project-image,
.graphic-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    max-width: 400px;
}

#lightbox img {
    max-width: 100;  
    max-height: 100%;
    transform: scale(.90);
    width: 100%;
    object-fit: contain;
   }

   /***** Contact Section *****/
.self-portrait-yuk {
    max-width: 300px;
    margin-bottom: 10%;
    margin-top: 20%;
    } 

h2 {
    text-align: center;
    margin-bottom: 5px;
    }

p {
   padding-left: 5%;
   padding-right: 5%;
   max-width: 300px;
}    

.h2con {
    padding-bottom: 10%;
}


.contactForm {
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.form  {
    max-width: 280px;
    min-width: 250px;
}

hr {
    margin-top: 20%;
    margin-bottom: 20%;
    }
/***** Contact End *****/


/***** Images & Lightbox for Mobile *****/
h1 {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10%;
    }

#lightbox img {
    max-width: 100;  
    max-height: 100%;
    transform: scale(.90);
    width: 100%;
 
   }
}	
/*-------------------------------------------------------------
                  TABLET END
-------------------------------------------------------------*/
/*-------------------------------------------------------------
                 SMALL DESKTOP BEGIN
-------------------------------------------------------------*/
/****** Large-ish Screen Media Queries: Targets VP sizes 1020px & wider. *******/
@media (min-width: 1020px) {
:root { 
    background: url("../img/photos/crumpledPaperTexture.jpg") no-repeat top center;
    background-size: cover;
    background-color: #fff;
    width: 100%;
    position: absolute;
    }
/***** Navigation *****/
    .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
   }

.nav-logo {
    margin-top: 5px;
    margin-right: 20%;

    }

.nava, .navb, .navc, 
.navd, .nav-ul  {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-left: 1%;
    margin-top: -2%;
    cursor: pointer;
    }

h1 {
    text-align: left;
    margin-left: 8%;
}

.hamburger {
    display: none;
}

.gallery-image, 
.project-image,
.graphic-image {
    width: 300px;
    height: 250px;
    max-width: 360px;
  
}


/***** Contact *****/
/*h1 {
    margin-left: 10%
    }

h2, p {
    margin-left: -5%;
    }

p {
   margin-left: auto;
   margin-right: auto; 
}
*/





}














