@charset "UTF-8";

/*----------------------------------------
  |                INDEX                 |
  |         -M = (Mobile-First)          |
  |      -1 = (First Media Quiery)       |
  |     -2 = (Second Media Quiery)       |
  |      -3 = (Third Media Quiery)       |
  |     -4 = (Fourth Media Quiery)       |
  ----------------------------------------*/
/*--------------------------------------------
           BASE STYLES (MOBILE-FIRST)
--------------------------------------------*/    
/***** BACKGROUND IMAGE & CONTAINER -M *****/
* {
    box-sizing: border-box;
}

:root { 
    background: url("../img/photos/crumpledPaperTexture.jpg") repeat top center;
    width: 100%;
    }

/***** BASIC TEXT STYLES-M ******/
@font-face {
    font-family: 'HackneyPersonalUseOnly';
    src: url('../font/HackneyPersonalUseOnly.eot');
    src: url('../font/HackneyPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
         url('../font/HackneyPersonalUseOnly.svg#HackneyPersonalUseOnly') format('svg'),
         url('../font/HackneyPersonalUseOnly.ttf') format('truetype'),
         url('../font/HackneyPersonalUseOnly.woff') format('woff'),
         url('../font/HackneyPersonalUseOnly.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
    }
  
h1, h2, p {
    font-family: "Montserrat subheading", "Verdana", sans-serif;
    line-height: 30px;
    /*font-weight: lighter;*/
    color: #000;
    flex: 1 1 auto;
    }

h1, h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    }

/***** Mobile Navigation-M *****/
.hamburgerButton {
    width: 50px;
    height: 50px;
    }

.nav-logo {
    width: auto;
    height: 45px;
    border-radius: 7px;
    margin-right: 5px;
    }
    
nav {
    margin-left: 5%;
    margin-right: 5%;
}    

.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    }
  
#navLinks, #navLinks a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    font-family: "HackneyPersonalUseOnly", "Bebas Neue", "Impact", sans-serif;
    font-size: 6vh;
    letter-spacing: 3px;
    text-decoration: none;
    color:#000;
    }

#navLinks {
    display: none;
} 

#navLinks a:last-child {
    color: #394a4a;
    }
    
#navLinks a:nth-child(2) {
    color: #394a4a;
    }

#navLinks a:hover {
    background-color: #394a4a;
    color: white;
    border-radius: 5px;
    -webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -moz-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -o-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
    }   
/***** MOBILE DISPLAY TEXT (SECTION TITLES)*****/
.titles {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 10%;
    }
/***** FlexBox Image Grid-M *****/
.image-grid {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%; 
    cursor: pointer;
    max-width: 100%;
    }

.gallery-image, 
.project-image,
.graphic-image {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 5px;
    border-radius: 10px;
    filter: grayscale(100%); 
    opacity: 0.8;
    object-fit: cover;
    max-width: 100%;
    width: 300px;
    height: 180px;
    }

.project-image:hover,
.gallery-image:hover,
.graphic-image:hover {
    opacity: 1;
    box-shadow: 0 0 2px 1px rgba(29, 72, 73, 1);
    filter: none;
    transform: scale(1);
    }

/***** Featured-M *****/
.imageGen {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

figcaption {
    background-color: #000;
    color: white;
    font-style: italic;
    text-align: right;
    margin-top: -5px;
    }

.gen-p {
    max-width: 100%;
    width: 80vw;
    
   }

.gen-a {
    font-size: 1rem;
    padding-bottom: 20%;
    max-width: 85vw;
    line-height: 30px;
    flex: 1 1 auto;
    }

/***** End FlexBox Image Grid-M *****/

/* Lightbox */
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    }
    
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#lightbox img {
    max-width: 100%;  
    max-height: 100%;
    padding: 5px;
    background-color: #171717;
    border-radius: 15px;
    transform: scale(.90);
    }   
  
/***** lightbox End *****/
/***** Next & Previous Arrow Buttons *****/
section {
    display: flex;
    flex-direction: column;
    } 

.arrows {
    margin-top: 4%;
    display: flex;
    align-self: center;
    }   

.left, .right  {
    width: 45px;
    height: 45px;
    }

/***** CONTACT SECTION-M ******/
.contentForm, .content, .contactSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    }

.contentForm {
    padding-left: 5%;
    padding-right: 5%;
    }

.self-portrait-yuk { 
    flex: 1 1 auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
    margin: 20% 5% 10% 5%;
    max-width: 400px;
    }

.lineBreak {
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    }

.lineBreak {
    display: block;
    }    
 
hr {
    display: block;
    margin-top: 15%;
    margin-bottom: 20%;
    max-width: 300px;
    }

 p {
    width: 100%;
    padding: 5%;
    max-width: 305px;
    justify-content: center;
    }  

.h2con {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    }

.form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 500px;
    width: 320px;
    border-radius: 10px;
    padding: 10px 20px;
   }

input[type="text"],
input[type="email"],
textarea, select {
   margin-top: 10%;
   margin-bottom: 10%;
   padding: 15px;
   width: 100%;
   height: auto;
   border-radius: 5px;
   border: 1px solid #000;
   text-transform: uppercase;
   }

textarea {
    min-height: 130px;
    margin-bottom: 0%;
    }   

legend {
    margin-bottom: 0px;
    font-weight: lighter;
    }

fieldset {
    margin-bottom: 30px;
    border: none;
    font-size: .75rem;
    text-transform: uppercase;
    }

.number {
    background-color:#394a4a;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    font-size: 0.8rem;
    margin-right: 4px;
    }

.btn {
    padding: 19px 39px 19px 39px;
    color: #fff;
    background-color: #394a4a;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    width: 200px;
    align-self: center;
    border-width: 1px 1px 2px;
    text-transform: uppercase;
    }

.btn:active {
    background-color: black;
}    

/***** ToolTip styles-M *****/
.toolTip {
    flex: 1 1 auto;
    border-radius: 20px;
    display: none;
    font-size: .75rem;
    text-align: center;
    background:  #394a4a;
    color: #fff;
    padding: 7px;
    position: absolute;
    width: 160px;
    margin-top: -19px;
    margin-left: 135px;
    }

.toolTip:after {
    border: solid transparent;
    content: " ";
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color:#394a4a;
    border-width: 15px;
    position: absolute;
    width: 0;
    height: 0;
    right: 5%;
    top: -40%;
    margin-top: -8px;
    }

#thankyouMes {
    font-size: 1rem;
    font-family: "HackneyPersonalUseOnly", "Bebas Neue", "Helvetica", sans-serif;
    color: #000;
    line-height: 3vh;
    letter-spacing: 2px;
    width: 300px;
    text-align: center;
    align-self: center;
    }
/**** Form End ****/
/***** social Media Icons-M *****/

.social-links {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    }

.icons {
    padding: 8px;
    }

.icons:hover {
    transform: scale(1.2);
    max-width: 70px;
    }

.footerLine {
    display: block;
    width: 65%;
    max-width: 85%;
    color: black;
    margin-bottom: -7%;
    }

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    }

.copyright {
    align-self: center;
    margin-bottom: 5%;
}
/*-----------------------------------------------
          END BASE STYLES (MOBILE FIRST)
-----------------------------------------------*/
/*-----------------------------------------------
                SM TABLET BEGIN-1
------------------------------------------------*/
/****** medium-ish Screen Media Queries: Targets VP sizes 540px & wider. *******/
@media (min-width: 540px) {
/****** NAVIGATION SECTION-1 *****/
.nav-logo {
    margin-left: 4%;
}

.hamburgerButton {
    margin-right: 4%;
}

/****** GALLERY SECTION-1 *****/
.gallery-image, 
.project-image, 
.graphic-image  {
    width: 400px;
    height: 250px;
    }

p {
    max-width: 450px;
    justify-content: center;
    }  

#lightbox img {
    transform: scale(1);
    }
  

/***** CONTACT SECTION-1 *****/
.form {
    width: 400px;
    }
   
.toolTip {
    margin-left: 220px;
    margin-top: -25px
    }
}
/*-------------------------------------------------------------
                  SMALL iPADS-2
-------------------------------------------------------------*/
/****** medium-ish-er Screen Media Queries: Targets VP sizes 768px & wider. *******/
@media (min-width: 768px) {
/***** NAVIGATION-2 *****/

/***** GALLERY SECTION-2 *****/
#lightbox img {
    transform: scale(1.6);
    max-width: 60%;
    }

.gallery-image, 
.project-image, 
.graphic-image  {
    width: 300px;
    height: 180px;
    }    

/***** CONTACT SECTION-2 *****/
.contactSec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    
.self-portrait-yuk  {
    width: 30vw;
    max-width: 30vw;
    margin-top: -10%;
    margin-left: 10%;
    }

.bla  {
    text-align: initial;
    margin-top: 20%;
    margin-bottom: 15%;
   }

.lineBreak {
    display: inline;
    }   

p   {
    margin-left: 0vw;
    padding-left: 0%;
    width: 55vw;
   }

hr {
    display: none;
    }

.form {
    width: 500px;
    }

.toolTip {
    margin-left: 320px;
    margin-top: -35px;
    }

/***** FEATURED SECTION-2 *****/
.imageGen {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    }
 
.gen-p, .gen-t {
    flex: 1 1 auto;
    max-width: 60vw;
    width: 40vw;
    max-width: 40vw;
    margin-left: 15%;
   }

 .gen-p {
     margin-top: 5%;
    }

 .gen-n {
     margin-left: 15%;
     margin-top: -5%;
    }

figcaption {
    margin-bottom: 30%;
    }

.gen-a  {
    max-width: 40vw;
    margin-left: 15%;
    }

.footerLine {
    margin-top: 5%;
    width: 60%;
    }

.social-links {
   height: -10%;
   }
}
/*-------------------------------------------------------------
                 i-PAD BEGIN-3
-------------------------------------------------------------*/
/****** Large-ish Screen Media Queries: Targets VP sizes 1024px & wider. *******/
@media (min-width: 1024px) {
    
/***** NAVIGATION-3 *****/
.topNav {
    display: inline-flex;
    margin-right: auto;
    }

nav {
    display: flex;
    margin-top: 2%;
    justify-content: flex-end;
    }

#navLinks a {
    font-size: 5vh;
    margin-top: 1%;
    }

.hamburgerButton {
    display: none;
    }

#navLinks {
    display: inline-flex;
    flex-direction: row;
    margin-right: 4%;
    }    

.titles {
    padding-top: 10%;
    text-align: initial;
    margin-left: 15%;
}    
/***** GALLERY SECTION-3 *****/
.gallery-image, 
.project-image,
.graphic-image  {
   width:250px;
   height: 150px;
   }
/***** CONTACT SECTION-3 *****/
.self-portrait-yuk {
    margin-top: 10%;
}

 .bla {
    margin-top: 17%;
}
.form  {
    width: 550px;
    }
}   

/*-------------------------------------------------------------
            LAPTOP BEGIN-4
-------------------------------------------------------------*/
/****** Large-ish Screen Media Queries: Targets VP sizes 1200px & wider. *******/
@media (min-width: 1025px) {
/***** NAVIGATION-4 *****/
#navLinks a  {
    margin-top: 4%;
    }

.nav-logo {
    height: 50px;
}    

.gallery-image,
.graphic-image,
.project-image {
    width: 350px;
    height: 250px;
    }    
}










